.background {
    display: flex;
    align-items: center;
    width:100%;
    height:100%;
    position: fixed;
    background-color: rgba(204, 205, 206, 0.6);
    z-index: 100000000;
}

.container {
    flex-direction: column;
    display: flex;
    margin: auto;
    height: 32%;
    width: 20%;
		background-color: white;
		font-family: Helvetica Neue, sans-serif;
    justify-content: space-between;

    > div {
      height: 100%;
      position: relative;

      > h4 {
        text-align: left;
        color: #2e3e4f;
        margin-left: 5%;
      }
    }
}

.shipContainer {
  height: 20%;
  width: 30%;
}

.title {
    color: black;
}

.message {
    color: black;
}

.textMargins {
    margin: 5% 10% 5% 10%;
}

.buttonsRow {
  width: 90%;
  position: absolute;
  bottom: 0;
  margin: 0 0 5% 5%;
  display: inline;
  vertical-align: middle;
}

.yesButton {
	border-radius: 30px;
	font-size: 85%;
  white-space: nowrap;
	text-align: center;
	float: right;
}

.yesButton:enabled {
  border: 1px solid #4880ff;
  color: #4880ff;
  background-color: transparent;
}

.yesButton:disabled {
  cursor: not-allowed;
}

.yesButton:hover:enabled {
	background-color: #4880ff;
  color: #fff;
}

.cancelButton {
	padding-top: 0.5%;
	border: none;
	background: none;
	font-size: 85%;
	text-decoration: underline;
	color: #4880ff;
  float: right;
  vertical-align: middle;
}

.files-table {
  margin: 0 0 0 5%;
  width: 90%;

  td {
    padding: 2% 2% 2% 0;
    margin-left: 5%;
    color: #2e3e4f;
    font-weight: normal;
  }
}

.loadingMessage {
  color: black;
  text-align: center;
}

.checkboxContainer input {
  visibility: hidden;/* <-- hide the default checkbox, the rest is to hide and alllow tabbing, which display:none prevents */
  display:block;
  height:0;
  width:0;
  position:absolute;
  overflow:hidden;
}
.checkboxContainer span {/* <-- style the artificial checkbox */
  height: 10px;
  width: 10px;
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 3px #ccc;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
}

[type=checkbox]:checked + span {/* <-- style its checked state */
  background: #4880ff;
}

.checkmark {
  margin-right: 2%;
}

// /*** CHECKBOX ***/
//
// /* The container */
// .checkboxContainer {
//     display: block;
//     position: relative;
//     padding-left: 35px;
//     margin-bottom: 12px;
//     cursor: pointer;
//     font-size: 22px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }
//
// /* Hide the browser's default checkbox */
// .checkboxContainer input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
// }
//
// /* Create a custom checkbox */
// .checkboxContainer {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 25px;
//     width: 25px;
//     background-color: #eee;
// }
//
// /* On mouse-over, add a grey background color */
// .checkboxContainer:hover input ~ .checkmark {
//     background-color: #ccc;
// }
//
// /* When the checkbox is checked, add a blue background */
// .checkboxContainer input:checked ~ .checkmark {
//     background-color: #2196F3;
// }
//
// /* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
// }
//
// /* Show the checkmark when checked */
// .checkboxContainer input:checked ~ .checkmark:after {
//     display: block;
// }
//
// /* Style the checkmark/indicator */
// .checkboxContainer .checkmark:after {
//     left: 9px;
//     top: 5px;
//     width: 5px;
//     height: 10px;
//     border: solid white;
//     border-width: 0 3px 3px 0;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
// }
